body{
    padding: 0;
    margin: 0 auto;
    height:100%;
    /* max-width:95%; */
}

h1{

    /* border-style:dotted;  */
    /* border-color:hotpink; */
    text-align: center;
    padding: 1em;
    color:rgb(167, 159, 148);
    text-shadow: 2px 2px darkgoldenrod;
    font-family: 'Oxygen', sans-serif;
    font-size: 3rem;
    letter-spacing: 4px;
}


p{
    background-color:  rgb(168, 184, 174);
    font-size: 16px;
    padding:10px;
    text-align: center;
    color: rgb(84, 85, 85);
}


/* section nav */
 .nav-bar{
    border: 2px solid rgb(234, 235, 234);
    padding: 12px;
    justify-content: space-between;
    background-color: rgb(247, 243, 238);
    justify-content: space-between;
    text-align: center;
    margin: 10px;
}

ul{
    list-style-type: none;
    margin:10;
    padding: 20px 10px 1px;
}
   

li{
    display:inline;
 
}

a{
    color:rgb(8, 6, 138);
    padding: 10px;
    width: 33.3%;
 
    

}
a:link{
    text-decoration: none;
    margin: 2px 40px 12px;
    padding-bottom: 10px;
}

/* img container  */
.container-fluid{
  
    /* border: 4px solid red; */
    padding: 10px;
    margin: 3%;
    position: relative;
}

.text{position: absolute; padding:14px; color:rgb(126, 146, 131); 
    top: 17px; left: 20em; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 25px;}

img.bath{
    margin:8px;
    border: 2px solid rgb(247, 243, 238);
    /* box-shadow: 0px -2px 2px rgba(230, 222, 222, 0.6);padding:12px; */
    justify-content: center;
    width: 700px;
    height:500px;
}
/* this places the image next to the main image but to the right and smaller  */
    img.image-2{ width: 400px; height:300px; border: 2px solid rgb(241, 236, 224);
    position: absolute; right:50px; top: 40px}

    /* this will put text under img  */
 div.sometext{color:rgb(100, 116, 74); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:right; display: block; float: right;    margin-top: -162px;
    margin-right: 12em;
   }

/* grid */
.container-fluid {
   width: 90%;
    display: inline-block;
    /* border: 5px solid rgb(197, 8, 8); */
  }
 
  
  


img.lip{width: 200px; height:300px;}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .column {
    float: center;
    width: 25%; 
    margin-inline-end: 8px; 
    border: solid 2px rgb(47, 0, 255);
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  