body{
    padding: 0;
    margin: 0 auto;
    height:100%;
    max-width:95%;
}

h1{

    /* border-style:dotted;  */
    /* border-color:hotpink; */
    text-align: center;
    padding: 1em;
    color:rgb(63, 80, 106);
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    letter-spacing: 4px;
}


p{
    background-color:  rgb(168, 184, 174);
    font-size: 16px;
    padding:10px;
    text-align: center;
    color: rgb(84, 85, 85);
}


/* section nav */
 .nav-bar{
    border: 2px solid green;
    padding: 12px;
    justify-content: space-between;
    background-color: rgb(247, 243, 238);
    justify-content: center;
    text-align: center;
}

ul{
    list-style-type: none;
    margin:10;
    padding: 10;
}
li{
    display:inline;


}

a{
    color:rgb(54, 70, 94);
    padding: 12px;
    width: 33.3%;
 

}
a:link{
    text-decoration: none;
}

/* img container  */
.container-fluid{
  
    /* border: 4px solid red; */
    padding: 10px;
    margin: 3%;
    position: relative;
}

.text{position: absolute; padding:14px; color:rgb(165, 83, 35); 
    top: 17px; left: 20em; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 25px;}

img{
    margin:8px;
    border:2px solid rgb(87, 64, 13);
    justify-content: center;
    width: 700px;
    height:500px;
}
/* this places the image next to the main image but to the right and smaller  */
div img.image-2{ width: 400px; height:300px; 
    position: absolute; right:50px; top: 40px}

div.sometext{color:crimson; font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: right;display:block;}
